.dateInput input {
    font-size: 72px;
    color: white;
    background-color: rgba(130,226,188,0.5);
    /*opacity: 50;*/
    /*border-color: transparent;*/
    maxlength: "2";
    font-size: 72px;
    border-style: none;
    text-align: center;
}

.submit {
    color: white;
    font-size: 24px;
}