.dateInput input {
    font-size: 72px;
    color: white;
    background-color: rgba(130,226,188,0.3);
    maxlength: "2";
    font-size: 72px;
    border-style: none;
    text-align: center;
}

input[type=submit] {
    padding:5px 15px;
    background: transparent;
    cursor: hand;
    /*-webkit-border-radius: 5px;*/
    /*border-radius: 5px;*/
    /*border-radius: 50%;*/
    border-color: white;
    border-width: thick;
    font-family: Alef;
    font-size: 36px;
}

#no_scroll {
    overflow: hidden;
}

h1 {
    font-family: Alef;
    font-size: 100px;
    margin-top: 100px;
}

h2 {
    font-family: Alef;
    font-size: 50px;
    margin: 50px;
}

#quizTitle {
    font-family: Alef;
    font-size: 100px;
    color: #ffa188;
    text-align: right;
    margin: 25px;
}

#quizSecTitle {
    font-family: Alef;
    font-size: 50px;
    color: #82e2bc;
    text-align: right;
    margin: 25px;
}

.quizInstr {
    font-family: Alef;
    font-size: 50px;
    color: midnightblue;
    text-align: right;
}

.imagesContainer {
    background-color: #82e2bc;
    margin: 25px;
}

.imageAnswer {
    border-width: 3px;
    opacity: 1.0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    margin: 5px 12px 5px 12px;
}

.imageAnswer:hover {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}.imageAnswer:hover {
     opacity: 0.4;
     filter: alpha(opacity=40); /* For IE8 and earlier */
 }

.supLink {
    font-family: Alef;
    color: white;
}

.iframeHolder {
    position: relative;
}

.suppliersTitle {
    font-family: Alef;
    font-size: 50px;
    color: white;
    margin: 10px;
    float: right;
    position: relative;
    bottom: -123px;
}

iframe {
    padding: 0;
    height: 131px;
    margin: 0;
    position: absolute;
    width: 100%;
    min-height: 100%;
    border-width: 0px;
}

.profileTitle {
    font-family: Alef;
    font-size: 90px;
    color: #82e2bc;
    margin: 10px;
    float: right;
    position: relative;
    padding-right: 50px;
    padding-top: 10px;
}

.secProfileTitle {
    font-family: Alef;
    font-size: 50px;
    color: #ffa188;
    margin: 10px;
    float: right;
    position: absolute;
    right: 60px;
    top: 150px;
}

.para {
    font-family: Alef;
    font-size: 17px;
    color: #82e2bc;
    margin: 10px;
    float: right;
    line-grid-mode: 200px;
    position: absolute;
    text-align: right;
    right: 60px;
    top: 220px;
}

.para2 {
    font-family: Alef;
    font-size: 17px;
    color: #82e2bc;
    margin: 10px;
    float: right;
    line-grid-mode: 200px;
    position: absolute;
    text-align: right;
    right: 60px;
    top: 300px;
}

.para3 {
    font-family: Alef;
    font-size: 17px;
    color: #82e2bc;
    margin: 10px;
    float: right;
    line-grid-mode: 200px;
    position: absolute;
    text-align: right;
    right: 60px;
    top: 380px;
}

.supplierSite {
    font-family: Alef;
    font-size: 20px;
    color: #82e2bc;
    margin: 10px;
    float: right;
    position: absolute;
    right: 60px;
    top: 460px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.supplierMail {
    font-family: Alef;
    font-size: 20px;
    color: #82e2bc;
    margin: 10px;
    float: right;
    position: absolute;
    right: 60px;
    top: 490px;
}

.supplierPhone {
    font-family: Alef;
    font-size: 20px;
    color: #82e2bc;
    margin: 10px;
    float: right;
    position: absolute;
    right: 60px;
    top: 520px;
}

/* Categories page */
.categories {
    background-color: #82e2bc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

table {
    width: 50%;
    margin: 0 auto;
    float: right;
}

table tr {
    font-family: Alef;
    font-size: 24px;
    color: white;
}

.name {
    text-align: right;
}

.ind {
    text-align: center;
}


.clear {clear:both;}

.faceImg {
    padding-left: 50px;
    padding-top: 40px;
}

.likeImg {
    position: absolute;
    padding-left: 350px;
    padding-top: 40px;
}

.scedImg {
    position: absolute;
    padding-left: 100px;
    padding-top: 40px;
}

#dateImgBottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

#dateImgTop {
    /*position: absolute;*/
    Top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

#dateHeader {
    border-bottom: 2px solid white;
    padding-bottom: 0;
    margin: 0;
}

#faceImg {
    position: absolute;
    Top: 0;
    left: 0;
    padding-left: 100px;
}

#catList {
    font-size: 0;
    width: 380px;
    margin: 0 auto;
    float: right;
    }
 #catList img {
     margin: 2px;
 }

 /* Still-Photographers page */
.stills {
    background-color: #ffa188;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.profile {
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

table, td, th {
    text-align: right;
    color: white;
}

@font-face {
    font-family: 'Alef';
    src: url('../fonts/Alef-Bold.eot');
    src: url('../fonts/Alef-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Alef-Bold.woff') format('woff'),
    url('../fonts/Alef-Bold.ttf') format('truetype'),
    url('../fonts/Alef-Bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Alef';
    src: url('../fonts/Alef-Regular.eot');
    src: url('../fonts/Alef-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Alef-Regular.woff') format('woff'),
    url('../fonts/Alef-Regular.ttf') format('truetype'),
    url('../fonts/Alef-Regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;

}